<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="d3d1bf9e-416c-4c0e-9545-c6bf80b194ab" Publisher="CN=armbruster" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="d3d1bf9e-416c-4c0e-9545-c6bf80b194ab" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>UnitTests</DisplayName>
    <PublisherDisplayName>armbruster</PublisherDisplayName>
    <Logo>
    </Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="vstest.executionengine.universal.App" Executable="$targetnametoken$.exe" EntryPoint="UnitTests.App">
      <uap:VisualElements DisplayName="UnitTests" Square150x150Logo="" Square44x44Logo="" Description="UnitTests" BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>